.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov
tests
rolls.db
.env
.gitignore
dice_rolling_game_v.*.py
docker-compose.yml
docker-compose.override.yml